@import "../../assets/css/mixin.scss";

.reference {
	padding-top: 47px;
	@include breakpoint(tablet) {
		padding-top: 30px;
	}
	@include breakpoint(mobile) {
		padding-top: 15px;
	}
	.reference-items {
		padding: 47px 15px 0;
		.slick-track {
			display: flex !important;
		}

		.slick-slide {
			height: auto !important;
			> div {
				height: 100%;
				border: none !important;
				padding: 0 15px;
				@include breakpoint(mobile) {
					padding: 0 5px;
				}
			}
		}
		@include breakpoint(tablet) {
			padding-top: 30px;
		}
		@include breakpoint(mobile) {
			padding-top: 15px;
		}
		.col {
			border: 1px solid $color-border;
			border-radius: 5px;
			height: 99%;
			outline: none;
		}
		.reference-img {
			padding: 25px 0 22px;
			@include breakpoint(tablet) {
				padding: 10px 0;
			}
			@include breakpoint(mobile) {
				padding: 0;
				// text-align: center;
			}
			img {
				vertical-align: top;
				width: 100%;
				// display: inline-block;
			}
		}
		.reference-text {
			text-align: center;
			padding: 0 15px 35px;
			border-top: 1px solid $color-border;
			@include breakpoint(tablet) {
				padding-bottom: 15px;
			}
			@include breakpoint(mobile) {
				padding-bottom: 10px;
			}
			.reference-text-title {
				@extend .font-large;
				font-weight: 600;
				margin-top: 27px;
				@include breakpoint(tablet) {
					margin-top: 15px;
				}
				@include breakpoint(mobile) {
					margin-top: 10px;
				}
			}
			.reference-text-description {
				margin-top: 17px;
				line-height: 25px;
				@extend .font-small;
				@include breakpoint(tablet) {
					margin-top: 10px;
					line-height: 15px;
				}
				@include breakpoint(mobile) {
					margin-top: 5px;
					line-height: 14px;
				}
			}
		}
	}
}
