@import "../../assets/css/mixin.scss";

.subscribe {
	padding-top: 44px;
	margin-top: 63px;
	border-top: 1px solid $color-border;
	@include breakpoint(tablet) {
		padding-top: 30px;
		margin-top: 30px;
	}
	@include breakpoint(mobile) {
		padding-top: 15px;
		margin-top: 15px;
	}
	.subscribe-description {
		max-width: 360px;
		margin: auto;
		text-align: center;
		padding-top: 21px;
		line-height: 24px;
		@extend .font-small;
		@include breakpoint(tablet) {
			line-height: 15px;
			padding-top: 10px;
		}
	}
	form {
		display: inline-block;
		text-align: left;
		@include breakpoint(mobile) {
			display: block;
		}
		.error-message {
			display: block;
			color: $color-error;
			padding-top: 10px;
			@extend .font-medium;
		}
	}

	.subscribe-input {
		text-align: center;
		padding-top: 27px;
		padding-bottom: 50px;
		@include breakpoint(tablet) {
			padding-bottom: 30px;
		}
		@include breakpoint(mobile) {
			padding: 15px 0;
		}
		input {
			height: 50px;
			width: 416px;
			padding: 0 15px;
			color: $color-gray;
			@extend .font-medium;
			@include breakpoint(tablet) {
				height: 35px;
				width: calc(100% - 110px);
			}
		}
		button {
			margin-left: 10px;
			@include breakpoint(mobile) {
				width: 100px;
				text-align: center;
				padding: 0 5px;
			}
		}
	}
}
.subscribe-notification {
	background-color: $color-white;
	width: calc(100% - 30px);
	max-width: 800px;
	text-align: center;
	line-height: 20px;
	border-radius: 5px;
	.subscribe-text {
		padding: 30px;
		@extend .font-medium;
		line-height: 24px;
		@include breakpoint(mobile) {
			padding: 30px 15px;
			line-height: 18px;
		}
		p {
			i {
				@extend .font-extra;
				padding-bottom: 15px;
				color: $color-bg;
			}
		}
	}
}
