@import "../../assets/css/mixin.scss";

.footer {
	background-color: #000;
	color: $color-white;
	padding-top: 48px;
	padding-bottom: 90px;
	@include breakpoint(tablet) {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.container {
		padding: 0 30px;
	}
	.footer-wrap {
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: repeat(2, 1fr);
		@include breakpoint(mobile) {
			display: block;
		}
	}
	.footer-left {
		.footer-title {
			@extend .font-medium;
			font-weight: 600;
		}
		.footer-info {
			display: table;
			line-height: 24px;
			padding-top: 41px;
			@extend .font-small;

			@include breakpoint(tablet) {
				padding-top: 30px;
			}
			@include breakpoint(mobile) {
				display: block;
				padding-top: 15px;
			}
			.footer-text {
				display: table-cell;
				@include breakpoint(mobile) {
					display: block;
				}
				p {
					&:first-child {
						font-weight: 600;
					}
				}
			}
			.footer-button {
				display: table-cell;
				vertical-align: bottom;
				padding-left: 48px;
				padding-bottom: 4px;
				@include breakpoint(mobile) {
					display: block;
					padding-left: 0;
					padding-top: 15px;
				}
			}
		}
	}
	.footer-right {
		text-align: right;
		padding-top: 5px;
		display: table;
		height: 100%;
		@include breakpoint(mobile) {
			text-align: left;
			display: block;
		}
		.footer-nav {
			display: table-row;
			width: 100%;
			@include breakpoint(mobile) {
				display: block;
			}
			li {
				margin-left: 15px;
				display: inline-block;
				@include breakpoint(tablet) {
					margin-left: 5px;
				}
				@include breakpoint(mobile) {
					display: block;
					margin: 10px 0;
				}
				&:first-child {
					margin-left: 0;
				}
				a {
					color: $color-white;
					text-decoration: none;
					@extend .font-small;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		.footer-social {
			display: table-cell;
			padding-bottom: 6px;
			width: 100%;
			vertical-align: bottom;
			@include breakpoint(mobile) {
				padding: 10px 0 0;
			}
			ul {
				text-align: right;
				li {
					margin-left: 10px;
					display: inline-block;
					&:first-child {
						margin-left: 0;
					}
					a {
						color: $color-white;
						height: 34px;
						width: 34px;
						border-radius: 100%;
						text-align: center;
						line-height: 34px;
						display: block;
						background-color: $color-bg;
						&:hover {
							background-color: $color-hover;
						}
					}
				}
			}
		}
	}
}
