@import "../../assets/css/mixin.scss";

.news {
	background-color: $color-bg-gray;
	margin-top: 64px;
	padding-top: 47px;
	padding-bottom: 53px;
	@include breakpoint(tablet) {
		margin-top: 30px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	@include breakpoint(mobile) {
		margin-top: 15px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.news-items {
		padding: 46px 15px 0;
		.slick-track {
			display: flex !important;
		}

		.slick-slide {
			height: inherit !important;
			> div {
				height: 100%;
				border: none !important;
				padding: 0 15px;
				@include breakpoint(mobile) {
					padding: 0;
				}
			}
		}
		@include breakpoint(tablet) {
			padding-top: 30px;
		}
		@include breakpoint(mobile) {
			padding-top: 15px;
		}
		.col {
			background-color: $color-white;
			border: 1px solid $color-border;
			border-radius: 5px;
			padding: 25px;
			height: 100%;
			outline: none;
			@include breakpoint(tablet) {
				padding: 15px;
			}
			.news-item {
				.news-date {
					color: $color-gray;
					@extend .font-tiny;
				}
				.news-text {
					margin-top: 15px;
					@include breakpoint(tablet) {
						margin-top: 5px;
					}
					a {
						color: $color-gray;
						font-weight: 600;
						@extend .font-medium;
						text-decoration: none;
						line-height: 23px;
						@include breakpoint(tablet) {
							line-height: 18px;
						}
						@include breakpoint(desktop) {
							&:hover {
								color: $color-bg;
							}
						}
					}
				}
			}
		}
	}
}
